body {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .08em;
    color: #333;
    @media (max-width: 1000px) {
        font-size: .8em;
    }
    @media (max-width: 600px) {
        font-size: .6em;
    }
}

.ds-tb {
    display: table;
}

.ds-tb-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.github-link {
    color: #333;
}

.arrow:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    color: #000;
    border: 2em solid transparent;
    opacity: .1;
}
.up:after {
    top: 0;
    left: 50%;
    margin-left: -2em;
    border-bottom-color: inherit;
}
.down:after {
    bottom: 0;
    left: 50%;
    margin-left: -2em;
    border-top-color: inherit;
}
.left:after {
    left: 0;
    top: 50%;
    margin-top: -2em;
    border-right-color: inherit;
}
.right:after {
    right: 0;
    top: 50%;
    margin-top: -2em;
    border-left-color: inherit;
}
