doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="renderer", content="webkit")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title DoSlide | A Switch Pattern
    link(rel="stylesheet", href="css/style.css")
  body
    .wrap.ds-parent
      a.octocat-icon.octocat-md.octocat-tr.octocat-shy-t(title="Fork me on GitHub", href="https://github.com/MopTym/doSlide")
      .ds-container.root.ds-init
        .ds-tb
          .ds-tb-cell
            .arrow.down
            .board
              h1.title DoSlide
              p A flexibly-configured, easily-extensible switch pattern with functionalities.
        .ds-tb
          .ds-tb-cell
            .arrow.up
            .arrow.down
            .board
              h1.title To create fullscreen scrolling
              p Want to be infinite? or horizontal? or nested? or... No problem at all!
        .ds-tb
          .ds-tb-cell
            .arrow.up
            .arrow.down
            .board
              h1.title To create slider
              p Just add a timer to DoSlide object, then you get a slider.
        .ds-tb
          .ds-tb-cell
            .arrow.up
            .arrow.down
            .board
              h1.title To custom transition
              p Apply new effect easily with event callbacks and inner tool library.
        .ds-tb
          .ds-tb-cell
            .arrow.up
            .arrow.down
            .board
              h1.title To do something else
              p Take what you need to do what you want.
        .ds-tb
          .ds-tb-cell
            .arrow.up
            .board
              h1.title See more details on 
                a.github-link(href="https://github.com/MopTym/doSlide" title="DoSlide on GitHub") GitHub


    script(src="js/main.js")
