.do-slide-container.intro.do-slide-init
  .do-slide-section.ds-tb
    .ds-tb-cell
      .board
        h1 DoSlide
        p A Switch Pattern
  .do-slide-section.ds-tb
    .ds-tb-cell
      .board
        h1= "Love & Peace"